
body {
    background-color: #121212;
    color: #e0e0e0f0;
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #010b0c5a;
}

.stats {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    color: #07d9f9;
    font-weight: bold;
    list-style-type: none;
}
.lists li {
    text-align: center;
    font-size: 1.7em;
    margin-top: 50px;
}
.lists .highlighted {
    color: rgba(255, 255, 255, 0.895);
    font-size: 2.5em;
    font-weight: bold;
}
.lists .subtext1 {
    font-size: 0.7em;
    color: #888888;
    text-align: center;
}
.lists .subtext2 {
    font-size: 0.5em;
    color: #888888;
    text-align: center;
}

.table-wrapper {
    padding: 40px 0;
}

.button-group {
 display: flex;
 gap: 15px;
}

.button-select {
    background-color: #121212; 
    border: 1px solid #888888;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button-select:hover {
    background-color: #444444; 
}

.button {
    background-color: #04dbf8;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.table {
    width: 100%;
    margin-top: 40px;
    border-collapse: separate;
    border-spacing: 0 15px; 
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border: none;
}

.table th {
    font-weight: bold;
    color:  #888888;
    background-color: #121212;
}

.table tr {
    background-color: #1d1d1d;
    border-radius: 20px;
}

.table tr:nth-child(even) {
    background-color: #232323;
}

.table tr:hover {
    background-color: #333;
}

.button {
    background-color: #04dcf878;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    color: #03e2ff;
}
